name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  # build:
  #   name: Build
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions-rs/toolchain@v1
  #       with:
  #         profile: minimal
  #         toolchain: stable
  #         override: true


  test:
    name: Test Suite
    runs-on: ubuntu-latest
    # needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
        
      - name: Build
        run: cargo build --verbose

      - uses: actions-rs/cargo@v1
        env:
          STEEL_HOME: $HOME/.steel
        with:
          command: test
          args: --all-features --workspace

      - name: Test Cogs
        env:
          STEEL_HOME: $HOME/.steel
        run: |
          cargo run -- test-runner.scm

  coverage:
    name: Code coverage
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: install cargo-tarpaulin
        run: cargo install cargo-tarpaulin

      # - name: rust-tarpaulin
      #   uses: actions-rs/tarpaulin@v0.1
      #   with:
      #     args: --all
      #     out-type: "Lcov"

      - name: run code coverage
        run: cargo tarpaulin --all -o "lcov"

      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./lcov.info

  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          components: rustfmt
      - name: Check formatting
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  # build:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions-rs/toolchain@v1
  #       with:
  #         profile: minimal
  #         toolchain: stable
  #         override: true
  #     - name: Build
  #       run: cargo build --verbose
  #     - name: Run tests
  #       run: cd steel; cargo test --verbose --features colors_off
  #     - name: rust-tarpaulin
  #       uses: actions-rs/tarpaulin@v0.1
  #       with:
  #         args: --all
  #         out-type: "Lcov"
  #     - name: Coveralls GitHub Action
  #       uses: coverallsapp/github-action@v1.1.2
  #       with:
  #         github-token: ${{ secrets.GITHUB_TOKEN }}
  #         path-to-lcov: ./lcov.info
